@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
    line-height: 1.3;
  }
}

/* Add these styles to your CSS file */

.slide-left {
  animation: slide-left 0.3s forwards;
}

.slide-right {
  animation: slide-right 0.3s forwards;
}

input {
  @apply focus:outline-none;
}

.varela {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

/* Scrollbar for WebKit browsers */
.scrollBar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 16px;
}

.scrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #6666b3;
  border-radius: 50px;
}

/* Scrollbar for Firefox */
.scrollBar {
  scrollbar-width: thin;
  scrollbar-color: #6666b3 #f1f1f1;
}

.specifyColor {
  accent-color: #000080;
}

.transition-transform {
  transition: transform 0.3s ease, z-index 0s 0.3s;
}

/* Hide Arrows From Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

::-webkit-input-placeholder {
  font-size: 15px;
}

.fixed-width {
  width: 300px;
  min-width: 300px;
}

.swiper_container {
  height: 30rem;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 27rem;
  }
  .swiper-slide {
    /* width: 50vw !important */
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(255, 255, 255, 1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #000080;
}

/* landing page slider css */
#quick_link_carousel .lucide-arrow-right-to-line {
  position: absolute;
  top: 50%;
  width: 40px !important;
  height: 40px !important;
  transform: translateY(-40%) translateX(50px) !important;
  color: #fff;
  opacity: 0.4;
  background: transparent;
  padding: 0;
  line-height: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.3s;
}

#quick_link_carousel .lucide-arrow-left-to-line {
  position: absolute;
  top: 50%;
  width: 40px !important;
  height: 40px !important;
  transform: translateY(-50%) translateX(-50px) !important;
  color: #fff;
  opacity: 0.4;
  background: transparent;
  padding: 0;
  line-height: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1000px) {
  #quick_link_carousel .lucide-arrow-right-to-line {
    width: 30px !important;
    height: 30px !important;
    transform: translateY(-40%) translateX(20px) !important;
  }

  #quick_link_carousel .lucide-arrow-left-to-line {
    width: 30px !important;
    height: 30px !important;
    transform: translateY(-50%) translateX(-20px) !important;
  }
}

.auth_input input {
  border-color: #900c3f;
}

.auth_input label {
  @apply md:text-base text-sm text-[#900C3F];
}
